<template>
    <md-table v-model="model" md-sort="name" md-card md-fixed-header>
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Аватар">
          <md-avatar>
            <img :src="item.picture" alt="Avatar">
          </md-avatar>
        </md-table-cell>
        <md-table-cell md-label="Имя">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Id">{{ item.identifier }}</md-table-cell>
        <md-table-cell md-label="Статус">
          <md-content class="md-accent" v-if="item.sick">Заболел</md-content>
          <md-content class="md-primary" v-else>Выздоровел</md-content>
        </md-table-cell>
      </md-table-row>
    </md-table>
</template>

<script>

export default {
  name: "simple-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    },
    model: Array,
  },
  data() {
    return {
      search: null,
      searched: [],
      selected: []
    };
  }
};
</script>
