<template>
  <div>
    <md-table v-model="getSickPatients" md-card md-fixed-header>
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <md-button
                class="md-danger main-panel"
                @click="$router.push('/history/healthy')"
          >
            История Выздоровлений
          </md-button>
        </div>
      </md-table-toolbar>
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Аватар">
          <md-avatar>
            <img :src="item.picture" alt="Avatar">
          </md-avatar>
        </md-table-cell>
        <md-table-cell md-label="Имя">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Id">{{ item.id }}</md-table-cell>
        <md-table-cell md-label="Добавить">
          <md-button @click="$store.commit('setHealthyPatient', item)" class="md-success">
            Выздоровел
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  name: "simple-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      search: null,
      searched: [],
      selected: []
    };
  },
  computed: {
    ...mapGetters([
          'getSickPatients'
    ])
  }
};
</script>
