<template>
  <div>
    <md-table v-model="searched" md-sort="name" md-sort-order="asc" md-card md-fixed-header>

      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <md-button
                @click="$router.push('/history/sick')"
                class="md-danger"
          >История заболеваний</md-button>
        </div>
        <md-field md-clearable class="md-toolbar-section-end">
          <md-input placeholder="Найти пациента" v-model="search" @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Аватар">
          <md-avatar>
            <img :src="item.picture" alt="Avatar">
          </md-avatar>
        </md-table-cell>
        <md-table-cell md-label="Имя" md-sort-by="name">{{ item.name }}</md-table-cell>
        <md-table-cell md-label="Id" md-sort-by="id">{{ item.id }}</md-table-cell>
        <md-table-cell md-label="Добавить">
          <md-button @click="sick(item)" class="md-danger">
            Заболел
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

const toLower = text => {
  return text.toString().toLowerCase()
}

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item => toLower(item.name).includes(toLower(term)))
  }

  return items
}

export default {
  name: "table-all-patients",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      search: null,
      searched: [],
      selected: []
    };
  },
  computed: {
    ...mapGetters([
      'getPatients'
    ])
  },
  methods: {
    searchOnTable () {
      this.searched = searchByName(this.getPatients, this.search)
    },
    sick(item) {
      this.$store.commit('setSickPatient', item)
      this.searchOnTable()
    }
  },
  created () {
    this.searched = this.getPatients
  }
};
</script>
