<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-50 md-xsmall-size-50 md-size-50">
        <md-card>
          <md-card-header class="container" data-background-color="green">
            <md-button
                class="md-danger"
                @click="requestPatients()"
                :disabled="!!getPatients.length"
            >
              Запросить пациентов
            </md-button>
            <p>Здоровых пациентов: {{ getPatients.length }}</p>
          </md-card-header>
          <md-card-content>
            <table-all-patients table-header-color="green"></table-all-patients>
          </md-card-content>
        </md-card>
      </div>

      <div class="md-layout-item md-medium-size-50 md-xsmall-size-50 md-size-50">
        <md-card>
          <md-card-header data-background-color="red">
            <h4 class="title">Список пациентов</h4>
            <div class="category">Заболевших covid-19</div>
          </md-card-header>
          <md-card-content>
            <table-sick-patients table-header-color="red"></table-sick-patients>
          </md-card-content>
        </md-card>
      </div>

    </div>
  </div>
</template>

<script>

import { mapGetters } from "vuex"

import {
  StatsCard,
  ChartCard,
  NavTabsCard,
  NavTabsTable,
  OrderedTable,
  TableAllPatients,
  TableSickPatients
} from "@/components";

export default {
  components: {
    StatsCard,
    ChartCard,
    NavTabsCard,
    NavTabsTable,
    OrderedTable,
    TableAllPatients,
    TableSickPatients
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters([
     'getPatients'
    ])
  },
  methods: {
    requestPatients() {
      if (!this.getPatients.length) {
        this.$store.dispatch('requestAllPatients')
      }
    }
  }
};
</script>
