<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="blue">
                        <h4 class="title">История пациентов</h4>
                        <p class="category">Выздоровевших от вируса covid-19</p>
                    </md-card-header>
                    <md-card-content>
                        <table-history :model="getHistoryHealthy" table-header-color="green"></table-history>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

import {
    TableHistory
} from "@/components";

export default {
    name: 'HistoryHealthy',
    components: {
        TableHistory
    },
    data() {
        return {}
    },
    computed: {
    	...mapGetters([
    		'getHistoryHealthy'
        ])
    }
}
</script>

<style scoped>

</style>
