<template>
    <div class="content">
        <div class="md-layout">
            <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100">
                <md-card>
                    <md-card-header data-background-color="blue">
                        <h4 class="title">История пациентов</h4>
                        <p class="category">Заболевших и выздоровевших от вируса covid-19</p>
                    </md-card-header>
                    <md-card-content>
                        <table-history :model="getHistory" table-header-color="green"></table-history>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>

<script>
import {
    TableHistory
} from "@/components";
import { mapGetters } from 'vuex'

export default {
    name: 'History.vue',
    components: {
	    TableHistory
    },
    data() {
        return {}
    },
    computed: {
    ...mapGetters([
      'getHistory'
    ])
  }
}
</script>

<style scoped>

</style>
